@font-face {
  font-family: KumbhSans-reg;
  font-weight: 400;
  src: url('../assets/fonts/KumbhSans-Regular.ttf');
}

@font-face {
  font-family: KumbhSans-bold;
  font-weight: 700;
  src: url('../assets/fonts/KumbhSans-Bold.ttf');
}

:root {
  /* Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* Neutral */
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);/* -> + (with 75% opacity for lightbox background): */
}
:root {
  --color-bg-light: var(--Pale-orange);
  --color-bg-dark: hsl(207, 26%, 17%);
  --color-bg-1-light:
  --color-bg-1-dark:
  --color-bg-2-light:
  --color-bg-2-dark:

  --color-primary-light: var(--Orange)
  --color-primary-dark:
  --color-secondary-light: var(--Dark-grayish-blue)
  --color-secondary-dark:

  --color-border-light:
  --color-border-dark:
  --color-border-hover-light:
  --color-border-hover-dark:

  --color-elements-light: ;
  --color-elements-dark: hsl(209, 23%, 22%);

  --color-heading-light:
  --color-heading-dark:
  --color-text-light:
  --color-text-dark: ;
  --color-text-active-light: hsl(220, 98%, 61%);
  --color-text-active-dark: hsl(220, 98%, 61%);
  --color-text-hover-light:  hsl(236, 33%, 92%);
  --color-text-hover-dark:  hsl(236, 33%, 92%);
}
/* semantic color variables for this project */
:root {
  /* --font-light: NunitoSans-light; */
  --font-reg: KumbhSans-reg;
  --font-bold: KumbhSans-bold;

  --color-bg: var(--color-bg-light);
  --color-bg-1: var(--color-bg-1-light);
  --color-bg-2: var(--color-bg-2-light);

  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);

  --color-border: var(--color-border-light);
  --color-border-hover: var(--color-border-hover-light);

  --color-elements: var(--color-elements-light);

  --color-heading: var(--color-heading-light);
  --color-text: var(--color-text-light);
  --color-text-active: var(--color-text-active-light);
  --color-text-hover: var(--color-text-hover-light);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root { 
    --color-bg: var(--color-bg-dark);
    --color-bg-1: var(--color-bg-1-dark);
    --color-bg-2: var(--color-bg-2-dark);
  
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);

    --color-border: var(--color-border-dark);
    --color-border-hover: var(--color-border-hover-dark);
  
    --color-elements: var(--color-elements-dark);
  
    --color-heading: var(--color-heading-dark);
    --color-text: var(--color-text-dark);
    --color-text-active: var(--color-text-active-dark);
    --color-text-hover: var(--color-text-hover-dark);
  }
} */

body.darkmode{
  --color-bg: var(--color-bg-dark);
  --color-bg-1: var(--color-bg-1-dark);
  --color-bg-2: var(--color-bg-2-dark);

  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);

  --color-border: var(--color-border-dark);
  --color-border-hover: var(--color-border-hover-dark);

  --color-elements: var(--color-elements-dark);

  --color-heading: var(--color-heading-dark);
  --color-text: var(--color-text-dark);
  --color-text-active: var(--color-text-active-dark);
  --color-text-hover: var(--color-text-hover-dark);
}

/** 
  ------------- base Styles ------------- 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-reg), Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button,
textarea,
select,
input {
  font: inherit;
  color: var(--color-text);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.75;
}

img {
  max-width: 100%;
}

h1 {
  /* margin: 0; */
  padding: 0.67em 0;
  /* text-align: center; */
  /* font-size: 2rem; */
  font-family: var(--font-bold);
}